# Gradle / Android Studio
build/
.idea/
.gradle/
*.iml

# Mac temp file
.DS_Store

# Captures
captures/

# .hprof file
*.hprof

# Android
local.properties

# Release
app/release/
app/uiWatch/
app/uiPhone/
app/uifreeWatch/
app/uifreePhone/


# Native
src/main/libs/
src/main/obj/

# Java
*.class

# Fabric
app/fabric.properties
